# Virtual Environment
venv/
env/
ENV/
.env
training_data/
dataset/
excel_files/
pdf_to_csv.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Project-specific
*.xlsx.lock
*.xlsx.bak
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma


# PyInstaller
*.manifest
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/
*.sublime-workspace
*.sublime-project
.history/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini 